In [2]:
import pandas as pd
import numpy as np

In [3]:
raw_data = pd.read_csv('netflix_titles.csv') #read data
raw_data = raw_data.fillna('') #delete all NAN

In [4]:
raw_data['type']= raw_data['type'].str.replace(' ', '')

In [5]:
raw_data['description'] = raw_data['description'].str.lower() #Set description value

def organize_data(data): #Save name and surname as one word
    data = data.str.replace(', ',',')
    data = data.str.replace(' ','')
    data = data.str.lower()
    data = data.str.replace(',',', ')
    return data

raw_data['director'] = organize_data(raw_data['director'])
raw_data['listed_in'] = organize_data(raw_data['listed_in'])
raw_data['cast'] = organize_data(raw_data['cast'])
raw_data['country'] = organize_data(raw_data['country'])
raw_data['type'] = organize_data(raw_data['type'])

In [6]:
raw_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,movie,Norm of the North: King Sized Adventure,"richardfinn, timmaltby","alanmarriott, andrewtoth, briandobson, colehow...","unitedstates, india, southkorea, china","September 9, 2019",2019,TV-PG,90 min,"children&familymovies, comedies",before planning an awesome wedding for his gra...
1,80117401,movie,Jandino: Whatever it Takes,,jandinoasporaat,unitedkingdom,"September 9, 2016",2016,TV-MA,94 min,stand-upcomedy,jandino asporaat riffs on the challenges of ra...
2,70234439,tvshow,Transformers Prime,,"petercullen, sumaleemontano, frankwelker, jeff...",unitedstates,"September 8, 2018",2013,TV-Y7-FV,1 Season,kids'tv,"with the help of three human allies, the autob..."
3,80058654,tvshow,Transformers: Robots in Disguise,,"willfriedle, darrencriss, constancezimmer, kha...",unitedstates,"September 8, 2018",2016,TV-Y7,1 Season,kids'tv,when a prison ship crash unleashes hundreds of...
4,80125979,movie,#realityhigh,fernandolebrija,"nestacooper, katewalsh, johnmichaelhiggins, ke...",unitedstates,"September 8, 2017",2017,TV-14,99 min,comedies,when nerdy high schooler dani finally attracts...

In [6]:
import string
# Delete all punctuation
raw_data['cast'] = [row.translate(str.maketrans("","", string.punctuation)) for row in raw_data['cast']]
raw_data['listed_in'] = [row.translate(str.maketrans("","", string.punctuation)) for row in raw_data['listed_in']]
raw_data['director'] = [row.translate(str.maketrans("","", string.punctuation)) for row in raw_data['director']]
raw_data['country'] = [row.translate(str.maketrans("","", string.punctuation)) for row in raw_data['country']]
raw_data['rating'] = [row.translate(str.maketrans("","", string.punctuation)) for row in raw_data['rating']]
raw_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,movie,Norm of the North: King Sized Adventure,richardfinn timmaltby,alanmarriott andrewtoth briandobson colehoward...,unitedstates india southkorea china,"September 9, 2019",2019,TVPG,90 min,childrenfamilymovies comedies,before planning an awesome wedding for his gra...
1,80117401,movie,Jandino: Whatever it Takes,,jandinoasporaat,unitedkingdom,"September 9, 2016",2016,TVMA,94 min,standupcomedy,jandino asporaat riffs on the challenges of ra...
2,70234439,tvshow,Transformers Prime,,petercullen sumaleemontano frankwelker jeffrey...,unitedstates,"September 8, 2018",2013,TVY7FV,1 Season,kidstv,"with the help of three human allies, the autob..."
3,80058654,tvshow,Transformers: Robots in Disguise,,willfriedle darrencriss constancezimmer kharyp...,unitedstates,"September 8, 2018",2016,TVY7,1 Season,kidstv,when a prison ship crash unleashes hundreds of...
4,80125979,movie,#realityhigh,fernandolebrija,nestacooper katewalsh johnmichaelhiggins keith...,unitedstates,"September 8, 2017",2017,TV14,99 min,comedies,when nerdy high schooler dani finally attracts...

In [8]:
# create net BoW columns (genre and team)
raw_data['genre']  = raw_data['type'] +' ' +  raw_data['listed_in']+ ' ' + raw_data['rating']
raw_data['team']  = raw_data['director'] + ' ' + raw_data['cast']

In [9]:
final_data = raw_data[['show_id','title','description', 'team', 'genre','country']]

In [10]:
final_data.head()

,show_id,title,description,team,genre,country
0,81145628,Norm of the North: King Sized Adventure,before planning an awesome wedding for his gra...,richardfinn timmaltby alanmarriott andrewtoth ...,movie childrenfamilymovies comedies TVPG,unitedstates india southkorea china
1,80117401,Jandino: Whatever it Takes,jandino asporaat riffs on the challenges of ra...,jandinoasporaat,movie standupcomedy TVMA,unitedkingdom
2,70234439,Transformers Prime,"with the help of three human allies, the autob...",petercullen sumaleemontano frankwelker jeffre...,tvshow kidstv TVY7FV,unitedstates
3,80058654,Transformers: Robots in Disguise,when a prison ship crash unleashes hundreds of...,willfriedle darrencriss constancezimmer khary...,tvshow kidstv TVY7,unitedstates
4,80125979,#realityhigh,when nerdy high schooler dani finally attracts...,fernandolebrija nestacooper katewalsh johnmich...,movie comedies TV14,unitedstates

In [11]:
final_data['BoW_all'] = final_data['country']+' '+final_data['description']+' '+final_data['team']+' '+final_data['genre']

<ipython-input-11-7a0e6b632acd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['BoW_all'] = final_data['country']+' '+final_data['description']+' '+final_data['team']+' '+final_data['genre']

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

countvector= CountVectorizer()
tfidf_transformer = TfidfTransformer()
# svd = TruncatedSVD(n_components=1000, n_iter=10, random_state=42)

description_matrix = countvector.fit_transform(final_data['description'])
description_matrix = tfidf_transformer.fit_transform(description_matrix)
# description_matrix = svd.fit_transform(description_matrix)
team_matrix = countvector.fit_transform(final_data['team'])
genre_matrix = countvector.fit_transform(final_data['genre'])
country_matrix = countvector.fit_transform(final_data['country'])

In [ ]:
all_matrix = countvector.fit_transform(final_data['BoW_all'])
all_matrix.shape
from sklearn.decomposition import TruncatedSVD
svd = TruncatedSVD(n_components = 6000, n_iter = 5)
all_matrix_svd = svd.fit_transform(all_matrix)
explained_variance = svd.explained_variance_ratio_.sum()
print(explained_variance)

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

indices = pd.Series(final_data['title'])
indices[:5]

0    Norm of the North: King Sized Adventure
1                 Jandino: Whatever it Takes
2                         Transformers Prime
3           Transformers: Robots in Disguise
4                               #realityhigh
Name: title, dtype: object

In [16]:
# generating the cosine similarity matrix
from sklearn.metrics.pairwise import cosine_similarity
description_sim = cosine_similarity(description_matrix, description_matrix)
genre_sim = cosine_similarity(genre_matrix, genre_matrix)
team_sim = cosine_similarity(team_matrix, team_matrix)
country_sim = cosine_similarity(country_matrix,country_matrix)


all_sim = cosine_similarity(all_matrix,all_matrix)
all_sim_svd = cosine_similarity(all_matrix_svd,all_matrix_svd)

In [18]:
cosine_sim  = genre_sim + team_sim + description_sim + country_sim
# we can configurate cooef to similarity table (in this case all coef for team and ganre will be 2x)

# svd = TruncatedSVD(n_components=1000, n_iter=10, random_state=42)
# components = svd.fit_transform(cosine_sim)

def recommendations(title, cosine_sim = all_sim_svd):
    
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    #print(score_series)
    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(raw_data['title'])[i])
        
    return recommended_movies

recommendations('Avengers: Infinity War')

['Golden Time',
 'Sex, Explained',
 'Scorpion King 5: Book of Souls',
 'Black Panther',
 'Thor: Ragnarok',
 'Fishpeople',
 'Growing Up Wild',
 'Godzilla',
 'League of Legends Origins',
 'The Legend of 420']

In [67]:
# generating the sigmoid kernel similarity matrix
from sklearn.metrics.pairwise import sigmoid_kernel
description_sig = sigmoid_kernel(description_matrix, description_matrix)
genre_sig = sigmoid_kernel(genre_matrix, genre_matrix)
team_sig = sigmoid_kernel(team_matrix, team_matrix)
country_sig = sigmoid_kernel(country_matrix,country_matrix)


all_sig = sigmoid_kernel(all_matrix,all_matrix)

# help(sigmoid_kernel)

In [71]:
sigmoid  = genre_sig + team_sig + description_sig + country_sig

# we can configurate cooef to similarity table (in this case all coef for team and ganre will be 2x)

def recommendations(title, cosine_sim = sigmoid):
    
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    #print(score_series)
    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(raw_data['title'])[i])
        
    return recommended_movies

recommendations('Avengers: Infinity War')

['Thor: Ragnarok',
 'Black Panther',
 'Star Wars: Episode VIII: The Last Jedi',
 'Solo: A Star Wars Story',
 'Solo: A Star Wars Story (Spanish Version)',
 'Limitless',
 'Ant-Man and the Wasp',
 'Godzilla',
 'Scorpion King 5: Book of Souls',
 'HALO Legends']

In [80]:
# generating the polynomial similarity matrix
from sklearn.metrics.pairwise import polynomial_kernel
description_poly = polynomial_kernel(description_matrix, description_matrix)
ganre_poly = polynomial_kernel(ganre_matrix, ganre_matrix)
team_poly = polynomial_kernel(team_matrix, team_matrix)
country_poly = polynomial_kernel(country_matrix,country_matrix)


all_poly = polynomial_kernel(all_matrix,all_matrix)

# help(sigmoid_kernel)

In [86]:
polynomial  = ganre_poly + team_poly + description_poly + country_poly

# we can configurate cooef to similarity table (in this case all coef for team and ganre will be 2x)

def recommendations(title, cosine_sim = polynomial):
    
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    #print(score_series)
    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(raw_data['title'])[i])
        
    return recommended_movies

recommendations('Avengers: Infinity War')

['Thor: Ragnarok',
 'Black Panther',
 'Star Wars: Episode VIII: The Last Jedi',
 'Solo: A Star Wars Story',
 'Solo: A Star Wars Story (Spanish Version)',
 'Limitless',
 'Ant-Man and the Wasp',
 'Godzilla',
 'Scorpion King 5: Book of Souls',
 'HALO Legends']

In [87]:
# generating the RBF kernel similarity matrix
from sklearn.metrics.pairwise import rbf_kernel
description_rbf = rbf_kernel(description_matrix, description_matrix)
ganre_rbf = rbf_kernel(ganre_matrix, ganre_matrix)
team_rbf = rbf_kernel(team_matrix, team_matrix)
country_rbf = rbf_kernel(country_matrix,country_matrix)


all_rbf = rbf_kernel(all_matrix,all_matrix)

In [88]:
rbf  = ganre_rbf + team_rbf + description_rbf + country_rbf

# we can configurate cooef to similarity table (in this case all coef for team and ganre will be 2x)

def recommendations(title, cosine_sim = rbf):
    
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    #print(score_series)
    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(raw_data['title'])[i])
        
    return recommended_movies

recommendations('Avengers: Infinity War')

['Scorpion King 5: Book of Souls',
 'Dragonheart',
 'Dragonheart: Battle for the Heartfire',
 'Superman Returns',
 'Season of the Witch',
 'Dragonheart 3: The Sorcerer',
 'Next',
 'Skyline',
 'Æon Flux',
 'Black Panther']

In [14]:
# generating the Laplacian kernel similarity matrix
from sklearn.metrics.pairwise import laplacian_kernel
description_lk = laplacian_kernel(description_matrix, description_matrix)
ganre_lk = laplacian_kernel(ganre_matrix, ganre_matrix)
team_lk = laplacian_kernel(team_matrix, team_matrix)
country_lk = laplacian_kernel(country_matrix,country_matrix)


all_lk = laplacian_kernel(all_matrix,all_matrix)

In [17]:
lk  = ganre_lk + team_lk + description_lk + country_lk
# we can configurate cooef to similarity table (in this case all coef for team and ganre will be 2x)

def recommendations(title, cosine_sim = lk):
    
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    #print(score_series)
    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(raw_data['title'])[i])
        
    return recommended_movies

recommendations('Avengers: Infinity War')

['Scorpion King 5: Book of Souls',
 'Dragonheart',
 'Season of the Witch',
 'Dragonheart: Battle for the Heartfire',
 'Dragonheart 3: The Sorcerer',
 'Next',
 'Æon Flux',
 'Superman Returns',
 'Skyline',
 'Black Panther']

In [16]:
# quick find function
filt = raw_data['title'].str.find('Bill')>=0
raw_data.loc[filt]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ganre,team
160,80184771,tvshow,Inside Bill's Brain: Decoding Bill Gates,,billgates,unitedstates,"September 20, 2019",2019,TV14,1 Season,docuseries sciencenaturetv,take a trip inside the mind of bill gates as t...,tvshow docuseries sciencenaturetv TV14,billgates
293,81060174,movie,Bill Burr: Paper Tiger,mikebinder,billburr,unitedstates unitedkingdom,"September 10, 2019",2019,TVMA,67 min,standupcomedy,"bill burr unloads on outrage culture, male fem...",movie standupcomedy TVMA,mikebinder billburr
1335,70174733,movie,Bill Burr: Let It Go,shannonhartman,billburr,unitedstates,"November 10, 2017",2010,NR,65 min,standupcomedy,the musings of comedian bill burr are let loos...,movie standupcomedy NR,shannonhartman billburr
2485,70245034,movie,Bill Burr: You People Are All the Same,jaykaras,billburr,unitedstates,"June 30, 2018",2012,NR,69 min,standupcomedy,funnyman bill burr takes the stage to uncork a...,movie standupcomedy NR,jaykaras billburr
3237,80133549,movie,Bill Burr: Walk Your Way Out,jaykaras,billburr,unitedstates,"January 31, 2017",2017,TVMA,78 min,standupcomedy,no-nonsense comic bill burr takes the stage in...,movie standupcomedy TVMA,jaykaras billburr
3530,60031236,movie,Kill Bill: Vol. 1,quentintarantino,umathurman lucyliu vivicaafox darylhannah davi...,unitedstates japan,"January 1, 2020",2003,R,111 min,actionadventure,"an assassin is shot by her ruthless employer, ...",movie actionadventure R,quentintarantino umathurman lucyliu vivicaafox...
3531,60032563,movie,Kill Bill: Vol. 2,quentintarantino,umathurman davidcarradine michaelmadsen darylh...,unitedstates,"January 1, 2020",2004,R,137 min,actionadventure,the bride has three left on her rampage list: ...,movie actionadventure R,quentintarantino umathurman davidcarradine mic...
3759,80119555,movie,Blinky Bill: The Movie,deanetaylor,ryankwanten rufussewell tonicollette robinmcle...,australia unitedstates,"February 8, 2017",2015,PG,91 min,childrenfamilymovies,happy koala blinky bill and some spunky pals t...,movie childrenfamilymovies PG,deanetaylor ryankwanten rufussewell tonicollet...
3794,81002591,movie,Billy Graham: An Extraordinary Journey,vondaharrell danielcamenisch,billygraham jeffhoyt tombrokaw gretavansustere...,unitedstates,"February 28, 2019",2018,TVPG,66 min,documentaries faithspirituality,this documentary recounts the life story of ev...,movie documentaries faithspirituality TVPG,vondaharrell danielcamenisch billygraham jeffh...
4009,60003378,movie,Billy Elliot,stephendaldry,jamiebell garylewis stuartwells billyfane coli...,unitedkingdom france,"February 1, 2019",2000,R,110 min,dramas independentmovies internationalmovies,when a boy trades boxing school for ballet les...,movie dramas independentmovies internationalmo...,stephendaldry jamiebell garylewis stuartwells ...
4148,80142615,movie,One in a Billion,romangackowski,satnamsinghbhamara markcuban adamsilver vivekr...,unitedstates,"December 6, 2016",2016,TVPG,70 min,documentaries sportsmovies,follow the journey of satnam singh bhamara as ...,movie documentaries sportsmovies TVPG,romangackowski satnamsinghbhamara markcuban ad...
4160,80004478,movie,Bill Burr: I'm Sorry You Feel That Way,jaykaras,billburr,unitedstates,"December 5, 2014",2014,NR,81 min,standupcomedy,"bill burr escapes the zombie apocalypse, explo...",movie standupcomedy NR,jaykaras billburr
4243,81045989,movie,Bill Hicks: One Night Stand,johnfortenberry,billhicks,unitedkingdom,"December 31, 2018",1991,TVMA,28 min,standupcomedy,bill hicks remembers a wild night in 1989 and ...,movie standupcomedy TVMA,johnfortenberry billhicks
4244,81045990,movie,Bill Hicks: Reflections,,billhicks stevehicks,,"December 31, 2018",2015,TVMA,34 min,documentaries,this documentary about comedian bill hicks off...,movie documentaries TVMA,billhicks stevehicks
4245,70059483,movie,Bill Hicks: Relentless,chrisbould,billhicks,unitedkingdom,"December 31, 2018",1992,TVMA,61 min,standupcomedy,"in one of his most iconic performances, late c...",movie standupcomedy TVMA,chrisbould billhicks
4246,80108207,movie,Bill Hicks: Revelations,chrisbould,billhicks,unitedkingdom,"December 31, 2018",1993,TVMA,56 min,standupcomedy,"in his final recorded special, the iconoclasti...",movie standupcomedy TVMA,chrisbould billhicks
4247,70043231,movie,Bill Hicks: Sane Man,kevinbooth davidjohndrow,billhicks,unitedstates,"December 31, 2018",1989,NR,81 min,standupcomedy,filmed in 1989 at a turning point in comedian ...,movie standupcomedy NR,kevinbooth davidjohndrow billhicks
4261,81031650,movie,The Bill Murray Stories: Life Lessons Learned ...,tommyavallone,tommyavallone billmurray joelmurray peterfarrelly,unitedstates,"December 31, 2018",2018,TVMA,72 min,documentaries,this documentary highlights spontaneous encoun...,movie documentaries TVMA,tommyavallone tommyavallone billmurray joelmur...
4498,81213153,movie,Hope: One in a Billion,brodjewemboendja,giftngoepe,unitedstates southafrica,"December 15, 2019",2017,TV14,81 min,documentaries internationalmovies sportsmovies,"the remarkable true story of gift ngoepe, the ...",movie documentaries internationalmovies sports...,brodjewemboendja giftngoepe
5305,80182411,movie,Bill Nye: Science Guy,jasonsussberg davidalvarado,billnye neildegrassetyson eugeniescott francis...,unitedstates,"April 25, 2018",2017,TVPG,97 min,documentaries,"the dynamic, bow-tied host behind the young ad...",movie documentaries TVPG,jasonsussberg davidalvarado billnye neildegras...
5310,80106337,movie,The 101-Year-Old Man Who Skipped Out on the Bi...,felixherngren månsherngren,robertgustafsson jenshultén carolineboulton co...,sweden,"April 25, 2017",2016,TVMA,108 min,comedies internationalmovies,"in need of money, an eccentric ex-spy and his ...",movie comedies internationalmovies TVMA,felixherngren månsherngren robertgustafsson je...
5500,80987611,movie,A Billion Colour Story,padmakumarnarasimhamurthy,dhruvapadmakumar gauravsharma vasuki,india,"April 1, 2018",2016,TVPG,104 min,dramas independentmovies internationalmovies,the curious child of idealistic interfaith par...,movie dramas independentmovies internationalmo...,padmakumarnarasimhamurthy dhruvapadmakumar gau...
5513,70115621,movie,Billu,priyadarshan,irrfankhan shahrukhkhan laradutta rajpalyadav ...,india,"April 1, 2018",2009,TVPG,132 min,dramas internationalmovies,an indian village is abuzz with news that a ma...,movie dramas internationalmovies TVPG,priyadarshan irrfankhan shahrukhkhan laradutta...
5759,81183624,tvshow,Billy on the Street,,billyeichner,unitedstates,"November 1, 2019",2016,TV14,4 Seasons,internationaltvshows realitytv tvcomedies,comedian billy eichner sprints through new yor...,tvshow internationaltvshows realitytv tvcomedi...,billyeichner
5817,80117748,tvshow,Bill Nye Saves the World,,billnye karliekloss derekmuller emilycalandrel...,unitedstates,"May 11, 2018",2018,TV14,3 Seasons,standupcomedytalkshows,emmy-winning host bill nye brings experts and ...,tvshow standupcomedytalkshows TV14,billnye karliekloss derekmuller emilycalandre...

In [17]:
stocked_data = pd.DataFrame(cosine_sim).stack()

df = pd.DataFrame(cosine_sim)
df = df.where(np.triu(np.ones(df.shape)).astype(np.bool)) # take only right upper part of matrix(because data are doubled)

In [18]:
stacked = df.stack().reset_index()
stacked.columns = ['index_1','index_2','Value']
stacked.head()

   index_1  index_2     Value
0        0        0  6.000000
1        0        1  0.615420
2        0        2  0.534280
3        0        3  0.500000
4        0        4  1.693421

In [19]:
final_data['index'] = final_data.index
final_data.head()

<ipython-input-19-80811137ac95>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['index'] = final_data.index

,show_id,title,description,team,ganre,country,BoW_all,index
0,81145628,Norm of the North: King Sized Adventure,before planning an awesome wedding for his gra...,richardfinn timmaltby alanmarriott andrewtoth ...,movie childrenfamilymovies comedies TVPG,unitedstates india southkorea china,unitedstates india southkorea china before pla...,0
1,80117401,Jandino: Whatever it Takes,jandino asporaat riffs on the challenges of ra...,jandinoasporaat,movie standupcomedy TVMA,unitedkingdom,unitedkingdom jandino asporaat riffs on the ch...,1
2,70234439,Transformers Prime,"with the help of three human allies, the autob...",petercullen sumaleemontano frankwelker jeffre...,tvshow kidstv TVY7FV,unitedstates,unitedstates with the help of three human alli...,2
3,80058654,Transformers: Robots in Disguise,when a prison ship crash unleashes hundreds of...,willfriedle darrencriss constancezimmer khary...,tvshow kidstv TVY7,unitedstates,unitedstates when a prison ship crash unleashe...,3
4,80125979,#realityhigh,when nerdy high schooler dani finally attracts...,fernandolebrija nestacooper katewalsh johnmich...,movie comedies TV14,unitedstates,unitedstates when nerdy high schooler dani fin...,4

In [20]:
SEQUENCE_LENGTH = 20 # the length of all sequences (number of words per sample)
EMBEDDING_SIZE = 100  # Using 100-Dimensional GloVe embedding vectors
TEST_SIZE = 0.25 # ratio of testing set

BATCH_SIZE = 64
EPOCHS = 20 # number of epochs

In [21]:
import pandas as pd
import numpy as np
from gensim.models import Word2Vec

import tqdm
from sklearn.metrics import precision_score, f1_score, recall_score, accuracy_score
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import  pad_sequences
from keras.layers import Embedding, Dropout, Dense, LSTM
from keras.models import Sequential
from keras.utils import to_categorical
from keras.callbacks import ModelCheckpoint, TensorBoard
from sklearn.model_selection import train_test_split
import time
import pickle

In [22]:
raw_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ganre,team
0,81145628,movie,Norm of the North: King Sized Adventure,richardfinn timmaltby,alanmarriott andrewtoth briandobson colehoward...,unitedstates india southkorea china,"September 9, 2019",2019,TVPG,90 min,childrenfamilymovies comedies,before planning an awesome wedding for his gra...,movie childrenfamilymovies comedies TVPG,richardfinn timmaltby alanmarriott andrewtoth ...
1,80117401,movie,Jandino: Whatever it Takes,,jandinoasporaat,unitedkingdom,"September 9, 2016",2016,TVMA,94 min,standupcomedy,jandino asporaat riffs on the challenges of ra...,movie standupcomedy TVMA,jandinoasporaat
2,70234439,tvshow,Transformers Prime,,petercullen sumaleemontano frankwelker jeffrey...,unitedstates,"September 8, 2018",2013,TVY7FV,1 Season,kidstv,"with the help of three human allies, the autob...",tvshow kidstv TVY7FV,petercullen sumaleemontano frankwelker jeffre...
3,80058654,tvshow,Transformers: Robots in Disguise,,willfriedle darrencriss constancezimmer kharyp...,unitedstates,"September 8, 2018",2016,TVY7,1 Season,kidstv,when a prison ship crash unleashes hundreds of...,tvshow kidstv TVY7,willfriedle darrencriss constancezimmer khary...
4,80125979,movie,#realityhigh,fernandolebrija,nestacooper katewalsh johnmichaelhiggins keith...,unitedstates,"September 8, 2017",2017,TV14,99 min,comedies,when nerdy high schooler dani finally attracts...,movie comedies TV14,fernandolebrija nestacooper katewalsh johnmich...

In [23]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(raw_data['team'])
X1 = tokenizer.texts_to_sequences(raw_data['team'])

X1 = np.array(X1)

In [24]:
final_data['pad'] = ''
for index, value in enumerate(X1):

    final_data.at[index,'pad'] = value

<ipython-input-24-c801ef1922ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['pad'] = ''

In [25]:
vlookup_table = pd.merge(stacked, final_data[['index', "pad"]], left_on='index_1', right_on='index' )
vlookup_table = pd.merge(vlookup_table, final_data[['index', "pad"]], left_on='index_2', right_on='index' )

In [26]:
vlookup_table.rename(columns={"pad_x":"pad_1","pad_y":"pad_2"}, inplace=True)

In [27]:
vlookup_table.drop(columns=["index_y","index_x" ], inplace=True)

In [28]:
vlookup_table.sort_values(by=['index_1', 'index_2'] )

,index_1,index_2,Value,pad_1,pad_2
0,0,0,6.000000,"[8258, 3902, 2112, 2113, 822, 2114, 3903, 1283...","[8258, 3902, 2112, 2113, 822, 2114, 3903, 1283..."
1,0,1,0.615420,"[8258, 3902, 2112, 2113, 822, 2114, 3903, 1283...",[3905]
3,0,2,0.534280,"[8258, 3902, 2112, 2113, 822, 2114, 3903, 1283...","[3906, 8260, 201, 3907, 109, 8261, 1284, 269, ..."
6,0,3,0.500000,"[8258, 3902, 2112, 2113, 822, 2114, 3903, 1283...","[2117, 3909, 2118, 3910, 3911, 8262, 2119, 3906]"
10,0,4,1.693421,"[8258, 3902, 2112, 2113, 822, 2114, 3903, 1283...","[8263, 1285, 584, 140, 3912, 8264, 8265, 8266,..."
...,...,...,...,...,...
19428259,6231,6232,0.000000,[],"[3640, 811, 3684, 30685, 30686, 30687, 30688, ..."
19434492,6231,6233,0.107211,[],"[706, 1026, 3073, 1588, 30690, 682]"
19428260,6232,6232,6.000000,"[3640, 811, 3684, 30685, 30686, 30687, 30688, ...","[3640, 811, 3684, 30685, 30686, 30687, 30688, ..."
19434493,6232,6233,1.239255,"[3640, 811, 3684, 30685, 30686, 30687, 30688, ...","[706, 1026, 3073, 1588, 30690, 682]"
19434494,6233,6233,6.000000,"[706, 1026, 3073, 1588, 30690, 682]","[706, 1026, 3073, 1588, 30690, 682]"

In [29]:
vlookup_table.head()

X1= pad_sequences(vlookup_table['pad_1'], maxlen=SEQUENCE_LENGTH)
X2= pad_sequences(vlookup_table['pad_2'], maxlen=SEQUENCE_LENGTH)

In [42]:
X = np.array([X1[:50],X2[:50]])

In [47]:
X.shape

(50, 2, 20)

In [43]:
X = np.reshape(X, (X.shape[1],2,SEQUENCE_LENGTH))

In [49]:
y = vlookup_table['Value'][:50].values

y= (np.reshape(y, (y.shape[0],1)))
y = scaler.fit_transform(y)

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X ,y, random_state=1, test_size=0.4)

In [51]:

model = Sequential()
model.add(Dense(64,activation='relu' ))
model.add(Dense(64,activation='relu' ))
model.add(Dense(32,activation='relu' ))
model.add(Dense(1,activation='sigmoid' ))
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [52]:
print(y)

[[1.        ]
 [0.09628871]
 [1.        ]
 [0.08267071]
 [0.06352608]
 [1.        ]
 [0.07691747]
 [0.02189043]
 [0.48564628]
 [1.        ]
 [0.27721307]
 [0.16179044]
 [0.22231765]
 [0.18287164]
 [1.        ]
 [0.        ]
 [0.13482517]
 [0.11829781]
 [0.10340475]
 [0.03039988]
 [1.        ]
 [0.14942246]
 [0.10327268]
 [0.08293845]
 [0.07691747]
 [0.18061695]
 [0.09156715]
 [1.        ]
 [0.08989941]
 [0.37245066]
 [0.02116144]
 [0.00915063]
 [0.12397477]
 [0.12763189]
 [0.10485118]
 [1.        ]
 [0.07691747]
 [0.12184591]
 [0.29225208]
 [0.2742297 ]
 [0.18032964]
 [0.18511021]
 [0.09219082]
 [0.12561668]
 [0.66433362]
 [0.13185771]
 [0.23353136]
 [0.12869669]
 [0.10166312]
 [0.24079447]]

In [53]:
model.fit(X_train,y_train, epochs=2, batch_size=128)

Epoch 1/2
1/1 [==============================] - 0s 1ms/step - loss: 6.3135 - accuracy: 0.05
Epoch 2/2
1/1 [==============================] - 0s 962us/step - loss: 6.3134 - accuracy: 0.05

In [54]:
X_train = np.reshape(X_train, ( X_train.shape[0], X_train.shape[1], X_train.shape[2],1))

X_train = X_train/255.0

X_train.shape
y_train = y_train.reshape(y_train.shape[0])

In [55]:
from keras.layers import Conv2D, MaxPooling2D, Flatten, Activation

model = Sequential()

model.add(Conv2D(32, (2,10), input_shape = X_train.shape[1:]))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(1,5)))

model.add(Conv2D(16, (1,2)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(1,1)))

model.add(Flatten())

model.add(Dense(16))
model.add(Activation('relu'))

model.add(Dense(8))
model.add(Activation('relu'))

model.add(Dense(1))
model.add(Activation('sigmoid'))

model.compile(loss = 'mse', optimizer= 'adam', metrics=['accuracy'])

In [56]:
model.fit(X_train, np.array(y_train), epochs=20, batch_size = 4)

Epoch 1/20
8/8 [==============================] - 0s 4ms/step - loss: 0.1849 - accuracy: 0.03
Epoch 2/20
8/8 [==============================] - 0s 1ms/step - loss: 0.1332 - accuracy: 0.03
Epoch 3/20
8/8 [==============================] - 0s 1ms/step - loss: 0.1213 - accuracy: 0.03
Epoch 4/20
8/8 [==============================] - 0s 1ms/step - loss: 0.1140 - accuracy: 0.03
Epoch 5/20
8/8 [==============================] - 0s 1ms/step - loss: 0.1003 - accuracy: 0.03
Epoch 6/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0913 - accuracy: 0.03
Epoch 7/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0914 - accuracy: 0.03
Epoch 8/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0912 - accuracy: 0.03
Epoch 9/20
8/8 [==============================] - 0s 2ms/step - loss: 0.0859 - accuracy: 0.03
Epoch 10/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0828 - accuracy: 0.03
Epoch 11/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0827 - accuracy: 0.03
Epoch 12/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0823 - accuracy: 0.03
Epoch 13/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0833 - accuracy: 0.03
Epoch 14/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0824 - accuracy: 0.03
Epoch 15/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0781 - accuracy: 0.03
Epoch 16/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0792 - accuracy: 0.03
Epoch 17/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0778 - accuracy: 0.03
Epoch 18/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0783 - accuracy: 0.03
Epoch 19/20
8/8 [==============================] - 0s 1ms/step - loss: 0.0782 - accuracy: 0.03
Epoch 20/20
8/8 [==============================] - 0s 2ms/step - loss: 0.0778 - accuracy: 0.03

In [ ]:
X_test = X_test.reshape(X_test.shape[0],X_test.shape[1],X_test.shape[2],1)
X_test = X_test/255.0
prediction = model.predict(X_test)